<div class="card placeholder-aw mb-4">
  <div class="card-body">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- eventsbne responsive -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-0801621623358731"
         data-ad-slot="3015417481"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
