<div class="card foreground-black mb-4">
  <div class="card-body">
    <h2 class="card-title h5">Keep up to date</h2>
    <p>For info on Brisbane events and the eventsbne platform, sign up to our newsletter. <small>(It's in flux at the moment, but we're hoping to send out weekly updates when we're up and running)</small></p>
    <form class="form-inline" form="" action="https://kyd.us4.list-manage.com/subscribe/post?u=d105d8b8b9b62ea519e7e6f97&amp;id=09bdb00ec3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
      <label class="sr-only" for="mce-EMAIL">Name</label>
      <input value="" name="EMAIL" class="required email" placeholder="you@example.org" id="mce-EMAIL" type="email">
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input name="b_d105d8b8b9b62ea519e7e6f97_09bdb00ec3" tabindex="-1" value="" type="text"></div>
      <input value="Sign up!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary ml-2" type="submit">
    </form>
  </div>
</div>
