<div class="card placeholder-tw mb-4">
  <div class="card-body">
    <a
    class="twitter-timeline app-enhance"
    data-app="twitter"
    data-dnt="true"
    href="https://twitter.com/search?q=bnedotnet%20OR%20brisjs%20OR%20brisruby%20OR%20nodegirlsbri%20OR%20%22brisbane%20functional%20programming%22%20OR%20%22brisbane%20hackerspace%22%20OR%20%22brisbane%20tech%20newbies%22%20OR%20%22brisbane%20reactjs%20meetup%22%20OR%20%22brisbane%20ember%22%20OR%20%22DDD%20brisbane%22+OR+&quot;yow brisbane&quot;"
    data-widget-id="954361929560080385"
    data-tweet-limit="4"
    data-chrome="nofooter noborders"
    >Tweets from the Brisbane meetup scene</a>
    </a>
  </div>
</div>
