<div class="card upcoming mb-4">
  <div class="card-body">
    <h2 class="card-title h3">What's on <span class="app-enhance" data-app="upcomingTimeLabel">Today</span></h2>
    <p class="card-text">Find a talk, join a workshop or just hang&nbsp;out!</p>
  </div>
  <div class="app-enhance events" data-app="upcomingToday">
    <div class="spinner"></div>
  </div>
</div>
